// font-family: 'Sofia Pro', sans-serif;
// font-family: 'Roboto', sans-serif;
$brown: #8d021f;
$lightGray: #505050;
$linkGray: #888888;
$footerBlack: #202020;
$lineGray: #c9c9c9;
$lightBrown: #f1e7e9;
html {
  overflow-x: hidden;
}
body {
  background-color: #f7f7f7;
  margin: 0;
  overflow-x: hidden;
}
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

@mixin brownBtn {
  color: white;
  font-family: "Sofia Pro", sans-serif;
  background-color: $brown;
  padding: 12px 30px;
  border-radius: 5px;
  border: 2px solid $brown;
  transition: 0.5s;
  &:hover {
    background-color: white;
    color: $brown;
  }
}
@mixin heading {
  font-family: "Sofia Pro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 23px;
  @media screen and (max-width: 700px) {
    font-size: 32px;
  }
}
@mixin sub-heading {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.custom-container {
  padding: 0px 14%;
}
.custom-container-right {
  padding-right: 14%;
}
.custom-container-left {
  padding-left: 14%;
}
@media screen and (max-width: 1560px) {
  .custom-container {
    padding: 0px 10%;
  }
  .custom-container-right {
    padding-right: 10%;
  }
  .custom-container-left {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1370px) {
  .custom-container {
    padding: 0px 5%;
  }
  .custom-container-right {
    padding-right: 5%;
  }
  .custom-container-left {
    padding-left: 5%;
  }
}

// Navigation Bar Start
nav {
  width: 100%;
  border-bottom: 1px solid $lineGray;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    width: 313px;
  }
}

.menu-links {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-family: "Sofia Pro", sans-serif;
    padding: 34px;
    transition: 0.5s;

    span {
      font-size: 10px;
      color: $linkGray;
    }
    &:hover {
      background-color: white;
    }
  }
}

.account {
  display: flex;
  margin-top: 12px;
  li {
    margin-left: 50px;
    a {
      color: $brown;
      text-decoration: none;
      font-family: "Sofia Pro", sans-serif;
    }
    .brown-btn {
      @include brownBtn();
    }
  }
}
.toggle {
  display: none;
  font-size: 40px;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .toggle {
    display: block;
  }
  .logo {
    img {
      width: 200px;
    }
  }
  .main-menu {
    height: 100px;
  }
  .menu-links {
    position: fixed;
    top: 101px;
    right: -100%;
    width: 100%;
    height: 90vh;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 42px;
    transition: 0.5s;
    z-index: 999;
  }
  .menu {
    flex-direction: column;
    li {
      margin-left: 0;
      margin-top: 30px;
      a {
        padding: 0;
        flex-direction: row;
        align-items: center;
        span {
          margin-right: 10px;
          font-size: 16px;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .account {
    flex-direction: column;
    margin-top: 0px;
    li {
      margin-left: 0px;
      margin-top: 30px;
      a {
        display: block;
      }
    }
  }
}

.bg1 {
  background-color: $lightBrown;
  height: 901px;
  width: 920px;
  border-radius: 80px 0px 0px 80px;
  position: absolute;
  top: 622px;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 1400px) {
  .bg1 {
    height: 490px;
  }
}
// Banner Start
.banner {
  width: 100%;
  padding: 95px 0px;
}
.banner-img {
  text-align: right;
  img {
    width: 90%;
  }
}
.banner-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-family: "Sofia Pro", sans-serif;
    font-size: 50px;
    color: black;
    font-weight: 400;
    line-height: 67px;
    margin-bottom: 16px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: $lightGray;
    margin-bottom: 38px;
  }
  .banner-input {
    background-color: white;
    border: 1px solid $lineGray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 6px;
    overflow-x: hidden;
    input {
      background-color: transparent;
      border: none;
      flex: 1;
      padding-left: 15px;
      &:focus {
        outline: none;
      }
    }
    button {
      @include brownBtn();
    }
  }
}
@media screen and (max-width: 1060px) {
  .banner-box {
    h2 {
      font-size: 40px;
      line-height: 45px;
    }
  }
  .banner-img {
    margin-top: 50px;
    text-align: center;
  }
}
// Service Start
.service {
  .heading {
    @include heading();
  }
  .sub-heading {
    @include sub-heading();
  }
}
.service-slider {
  margin-top: 70px;
}
.slide-box {
  // width: 414px;
  min-height: 287.27px;
  background-color: white;
  border: 1px solid $lineGray;
  border-radius: 25px;
  padding: 40px 30px;
  svg {
    fill: black;
    transition: 0.5s;
  }
  h2 {
    font-family: "Sofia Pro", sans-serif;
    font-size: 22px;
    margin-bottom: 17px;
    margin-top: 15px;
    transition: 0.5s;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 28px;
    max-width: 340px;
  }
  &:hover {
    svg {
      fill: $brown;
    }
    h2 {
      color: $brown;
    }
  }
}
.glide__arrow {
  top: -48%;
}
.glide__arrow--right {
  right: 150px;
}
.glide__arrow--left {
  right: 200px;
}
@media screen and (max-width: 1500px) {
  .glide__arrow {
    top: -38%;
  }
}
@media screen and (max-width: 950px) {
  .glide__arrow {
    top: -12%;
  }
  .glide__arrow--right {
    right: 15px;
  }
  .glide__arrow--left {
    right: 75px;
  }
}
// Feature Start
.feature {
  justify-content: space-between;
  margin-top: 200px;
  .feature-heading {
    @include heading();
    max-width: 295px;
  }
}
.feature-box {
  margin-bottom: 20px;
  .number {
    font-family: "Sofia Pro", sans-serif;
    font-size: 20px;
    color: black;
  }
  .feature-line {
    margin: 20px 0px;
    height: 1px;
    width: 100%;
    background-color: $lineGray;
  }
  .feature-box-heading {
    font-family: "Sofia Pro", sans-serif;
    font-size: 22px;
    color: black;
    margin-bottom: 17px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: $lightGray;
  }
}

@media screen and (max-width: 1180px) {
  .feature {
    .feature-heading {
      max-width: 100%;
      margin-bottom: 50px;
    }
  }
}
// Benefit Start
.benefit {
  margin-top: 150px;
}
.benefit-heading {
  display: flex;
  justify-content: flex-end;
  .b-heading-box {
    max-width: 470px;
  }
  h2 {
    @include heading();
  }
  p {
    @include sub-heading();
  }
}
.benefit-chart {
  position: relative;
  top: -95px;
  .benefit-img {
    position: absolute;
    left: -120px;
    top: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }
}
.benefit-row {
  justify-content: space-between;
}
.benefit-box {
  width: 414px;
  padding: 27px;
  background-color: $brown;
  border-radius: 25px;
  color: white;
  position: relative;
  top: 100px;
  img {
    position: absolute;
  }
  h2 {
    margin-bottom: 15px;
    font-family: "Sofia Pro", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 28px;
  }
}
.box1 {
  img {
    top: 50%;
    right: -128px;
  }
}
.box2 {
  top: 250px;
  left: 50px;
  img {
    top: -64px;
    left: -150px;
  }
}
.box3 {
  top: 140px;
  left: -70px;
  img {
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
  }
}
.box4 {
  top: 220px;
  left: 140px;
  img {
    top: -8%;
    left: -157px;
  }
}
.box5 {
  top: 270px;
  left: 85px;
  img {
    top: 16%;
    left: -102px;
  }
}
@media screen and (max-width: 1850px) {
  .benefit-chart {
    .benefit-img {
      left: -190px;
    }
  }
}
@media screen and (max-width: 1670px) {
  .benefit-chart {
    .benefit-img {
      left: -245px;
    }
  }
}
@media screen and (max-width: 1540px) {
  .benefit-chart {
    .benefit-img {
      left: -338px;
    }
  }
}
@media screen and (max-width: 1475px) {
  .benefit-chart {
    .benefit-img {
      img {
        width: 95%;
      }
    }
  }
}
@media screen and (max-width: 1475px) {
  .box3 {
    left: -35px;
  }
  .box4 {
    left: 85px;
  }
}
@media screen and (max-width: 1200px) {
  .benefit-chart {
    padding-right: 5%;
    position: static;
    .benefit-img {
      margin-top: 30px;
      padding-left: 5%;
      text-align: center;
      position: static;
    }
  }
  .benefit-box {
    margin: 20px 0px;
    position: static;
    width: 100%;
    img {
      display: none;
    }
  }
  .benefit-heading {
    .b-heading-box {
      max-width: 100%;
    }
  }
}
// Dashboard Start
.dashboard {
  margin-top: 300px;
  h2 {
    @include heading();
  }
  p {
    @include sub-heading();
    margin-bottom: 32px;
    max-width: 600px;
  }
  a {
    @include brownBtn();
    text-decoration: none;
    display: inline-block;
  }
  .dashboard-img {
    img {
      width: 100%;
    }
  }
  .dashboard-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  .dashboard {
    .dashboard-box {
      padding: 40px 20px;
    }
  }
}
// CTA Start
.cta {
  background-color: $brown;
}
.cta-form {
  height: 100%;
  display: flex;
  align-items: center;
  form {
    width: 511px;
    h2 {
      @include heading();
      color: white;
      margin-bottom: 40px;
    }
    input,
    textarea {
      font-family: "Sofia Pro", sans-serif;
      color: white;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $lineGray;
      display: block;
      margin-bottom: 20px;
      background-color: transparent;
      padding-left: 15px;
      &::-webkit-input-placeholder {
        /* Edge */
        color: white;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
      }

      &::placeholder {
        color: white;
      }
    }
    input {
      height: 48px;
    }
    textarea {
      height: 125px;
    }
    button {
      @include brownBtn();
      background-color: white;
      color: $brown;
    }
  }
}
.cta-img {
  height: 742px;
  width: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
@media screen and (max-width: 975px) {
  .cta {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 5%;
  }
  .cta-img {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    overflow: visible;
    img {
      width: 100%;
      object-fit: fill;
    }
  }
}
// Footer Start
footer {
  background-color: $footerBlack;
  color: $lineGray;
  text-align: center;
  padding: 42px 0px;
  img {
    width: 301px;
  }
  p,
  span {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  span {
    display: block;
    margin: 17px 0px 43px 0px;
  }
}
@media screen and (max-width: 1030px) {
  .banner {
    padding: 40px 0px;
  }
  .feature {
    margin-top: 50px;
  }
  .benefit {
    margin-top: 50px;
  }

  .dashboard {
    margin-top: 50px;
  }
  .bg1 {
    top: 565px;
  }
}

@media screen and (max-width: 700px) {
  .banner {
    padding: 40px 0px;
  }
  .glide__arrow {
    top: -9%;
  }
  .feature {
    margin-top: 50px;
  }
  .benefit {
    margin-top: 50px;
  }
  .benefit-chart {
    .benefit-img {
      overflow-x: hidden;
      img {
        height: 600px;
        width: auto;
        transform: translateX(-570px);
      }
    }
  }
  .dashboard {
    margin-top: 50px;
  }
  .banner-box {
    .banner-input {
      flex-direction: column;
      align-items: flex-start;
      input {
        border: 1px solid $brown;
        height: 40px;
        width: 100%;
        flex: none;
        border-radius: 3px;
      }
      button {
        margin-top: 10px;
        padding: 8px 18px;
      }
    }
  }
}
